$textColor: #1E1E1E;
$textColorMedium: #303030;
$textColorPrimary: #1DAF83;
$textColorContrast: #ffffff;
$textColorLight: #D0D0D0;

$bgColorPrimary: #1DAF83;
$bgColorContrast: #ffffff;

$font: 'Poppins', sans-serif;
