@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.popup-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: rem(19, 25, 18, 35);
  background-color: rgba($textColorMedium, .8);
  color: $textColorContrast;

  @media screen and (max-width: 1042px){
    padding-left: 0;
    padding-right: 0;
  }

  .btn {
    font-size: rem(14);
  }
}
