@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  height: rem(20);
  width: 100%;
  z-index: 2;
  background-color: rgba($bgColorPrimary, .3);

  @media screen and (max-width: 991px) {
    height: rem(5);
    display: none;
  }

  &__bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0;
    background-color: $bgColorPrimary;
    transition: width .5s linear;
  }

}
