@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.slick-disabled {
  opacity: 0;
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  bottom: rem(62);
  color: $textColorContrast;
  z-index: 1;
  cursor: pointer;
  transition: opacity .35s ease-in-out, visibility .35s ease-in-out, color .15s ease-in-out;

  .invert & {
    color: $textColorMedium;
  }
}

.slick-prev {
  left: calc(4vw + 1rem);
}

.slick-next {
  right: calc(4vw + 1rem);
}

.slick-dots {
  position: absolute;
  bottom: rem(62);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;

  li {
    display: flex;
    align-items: flex-end;

    &::after {
      display: block;
      content: "";
      width: 0;
      height: 1px;
      margin-left: rem(4);
      background-color: $bgColorContrast;
      transition: width .35s ease-in-out, background-color .15s ease-in-out;

      .invert & {
        background-color: $textColorMedium;
      }
    }

    & + li {
      margin-left: rem(8);
    }

    &.slick-active {
      &::after {
        width: rem(100);
      }
    }

    button {
      font-size: rem(14);
      line-height: 1;
      color: $textColorContrast;
      cursor: pointer;
      transition: color .15s ease-in-out;

      .invert & {
        color: $textColorMedium;
      }
    }

  }
}
