@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.social {

  &__item {

    & + & {
      margin-left: rem(16);
    }

  }

  &__link {

    &:hover {

      .icon-fill {
        fill: darken($textColorPrimary, 5%);
      }

    }

    .icon-fill {
      fill: $textColorPrimary;
      transition: fill .15s ease-in-out;

      @media screen and (max-width: 1440px) {
        width: rem(20);
        height: auto;
      }
    }

  }

}
