@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  line-height: 1;
  padding: rem(60) 4vw;
  transition: all .25s ease-in-out;

  @media screen and (max-width: 1042px){
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 991px){
    padding: rem(20) 0;

    .nav, .auth {
      display: none;
    }
  }

  &.sticky {
    background-color: $bgColorContrast;
    box-shadow: 0 rem(3) rem(3) rem(3) rgba($textColorLight, .15);
    padding-top: rem(20);
    padding-bottom: rem(20);

    @media screen and (max-width: 991px){
      padding-top: rem(10);
      padding-bottom: rem(10);
    }
  }

  &__ui {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 991px){
      justify-content: flex-end;
    }
  }

}

.fill-primary {
  fill: $textColorMedium;
  transition: fill .15s ease-in-out;

  .invert-logo & {
    fill: $textColorContrast;
  }
}

.auth {
  &__link {
    font-size: rem(18);
    line-height: 1;
    margin: 0 1.65vw;
  }
}

.nav {
  &__link {
    @extend .auth__link;
    color: $textColor;
    transition: color .15s ease-in-out;

    .invert-logo & {
      @media screen and (min-width: 992px) {
        color: $textColorContrast;
      }

    }

    &:hover, &.active {
      color: $textColorPrimary !important;
    }
  }
}
