@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.mob-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: $textColorContrast;
  z-index: 2;
  padding-top: rem(60);
  padding-bottom: rem(60);
  transform: translateY(-100%);
  box-shadow: rem(3) 0 rem(3) rem(3) rgba($textColorLight, .15);
  transition: transform .35s ease-in-out;

  @media screen and (min-width: 768px) and (max-width: 991px){
    display: block;
    transform: translateX(-100%);

    .menu-open & {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 767px){
    display: block;
    transform: translateY(-100%);
    right: 0;
    padding-top: rem(100);

    .menu-open & {
      transform: translateY(0);
    }
  }

  .nav {
    margin-bottom: rem(20);
  }

  .nav, .auth {
    display: block;
    
    &__link {
      display: block;
      margin: 0;
      padding: rem(10);

      @media screen and (max-width: 767px){
        text-align: center;
      }

    }
    
  }

}
