@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
  display: inline-flex;
  align-items: center;
  height: rem(40);
  font-weight: normal;
  font-size: rem(18);
  line-height: 1;
  white-space: nowrap;
  padding-left: rem(32);
  padding-right: rem(32);
  border-radius: rem(2);

  &-lg {
    height: rem(71);
    font-size: rem(36);
    padding-left: rem(64);
    padding-right: rem(63);
    border-radius: rem(5);

    @media screen and (max-width: 1440px) {
      font-size: rem(24);
      height: rem(56);
      padding-left: rem(56);
      padding-right: rem(56);
    }
  }
  
  &-block {
    display: block;
    width: 100%;
  }

  &-primary {
    color: $textColorContrast;
    background-color: $bgColorPrimary;
  }

}

/* Aylen */
.btn-aylen {
  position: relative;
  z-index: 1;
  background-color: $bgColorPrimary;
  color: $textColorContrast;
  overflow: hidden;

  &:hover {

    &::before,
    &::after {
      transform: translate3d(0, 100%, 0);
    }

    &::after {
      transition-delay: 0.175s;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &::before {
    background-color: darken($bgColorPrimary, 5%);
  }

  &::after {
    background-color: darken($bgColorPrimary, 10%);
  }

}
