@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.form {

  &__group {

    & + & {
      margin-top: rem(30);
    }

    & + .form__checkbox {
      margin-top: rem(24);
    }

  }

  &__checkbox {

    & + & {
      margin-top: rem(24);
    }

    & + .form__group {
      margin-top: rem(30);
    }

  }

  &__control {
    background-color: $bgColorContrast;
    color: $textColor;
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(40);
    font-size: rem(18);
    padding: 0 rem(11);
    border-radius: rem(2);
    border: none;

    &::placeholder {
      color: $textColorLight;
      transition: opacity .25s ease-in-out;
    }

    &.nice-select {
      float: none;

      [data-display] {
        display: none;
      }

      &::after {
        width: 7px;
        height: 7px;
        border-color: $textColorLight;
      }

      &.open {
        box-shadow: 0 0 rem(3) $textColorLight;
      }

      .current {
        color: $textColorLight;
      }

      &.is-dirty {
        &::after {
          border-color: $textColor;
        }

        .current {
          color: $textColor;
        }
      }

      .list {
        right: 0;
      }

      .option {
        padding: 0 rem(11);
        font-size: rem(18);
      }
    }

    @at-root {
      input#{&}, textarea#{&} {
        &:focus {
          box-shadow: 0 0 rem(3) $textColorLight;

          &::placeholder {
            opacity: 0;
          }
        }
      }

      textarea#{&} {
        padding-top: rem(12);
        padding-bottom: rem(12);
        height: rem(80);
        resize: none;
      }

    }

  }

}
