@import "shared/variables";
@import "shared/mixin/px-to-rem";

html {
  font-size: 16px;

  @media screen and (max-width: 1440px) {
    font-size: 14px;
  }
}

body {
  font-family: $font;
  font-weight: 400;
  line-height: 1.5;
  background: linear-gradient(152.21deg, #E9EAEB 12.07%, #FFFFFF 99%);
}

a {
  color: $textColorPrimary;
}

//.typewrite-single {
//  display: none;
//}

.text-center {
  text-align: center;
}

.full-screen {
  height: 1px;
  min-height: 100vh;
}

.color-primary {
  color: $textColorPrimary;
}

.sec {
  //padding: 0 4vw rem(62);
  padding: rem(140) 4vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and (max-width: 1042px){
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 991px){
    padding: rem(60) 0;
    background-attachment: fixed;
  }

  @media screen and (min-width: 767px) and (max-width: 812px) and (orientation: landscape){
    height: initial;
  }

  &:not(.sec-main) {
    @media screen and (max-width: 991px){
      min-height: 100vh;
      height: initial;
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 767px){
      //height: initial;
    }
  }

  &-inner {
    min-height: 100vh;
    padding-top: rem(99);

    .form {
      max-width: 477px;
      margin: auto;
    }

    .secondary-title {
      text-transform: initial;
    }
  }

  &-main {
    
    .title {
      span {
        display: inline-block;
      }
    }

    .title + .btn {
      margin-top: rem(50);
    }

    & > .container-fluid {
      height: 100%;

      & > .row {
        height: inherit;
      }
    }
  }

  &-second, &-third, &-forth, &-fifth {
    & > .container-fluid {
      height: 100%;

      & > .row {
        height: inherit;
      }
    }
  }

  &-fifth {
    .form {
      //max-width: rem(477);
      margin-top: rem(40);
      margin-bottom: rem(30);
    }

    .social {
      margin-top: rem(20);
    }
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: rem(72);
  line-height: 100%;
  color: $textColorMedium;

  @media screen and (max-width: 1440px) {
    font-size: rem(54);
  }
}

.secondary-title {
  margin-bottom: rem(30);
  font-weight: 500;
  font-size: rem(56);
  line-height: 1;
  text-transform: uppercase;

  @media screen and (max-width: 1440px) {
    font-size: rem(42);
  }

  .sec-invert & {
    color: $textColorPrimary;
  }
}

.third-title {
  margin-bottom: rem(30);
  font-weight: 400;
  font-size: rem(24);
  line-height: 1;
  color: $textColorMedium;
}

.text {
  font-weight: 500;
  font-size: rem(24);
  line-height: 1;

  @media screen and (max-width: 1440px) {
    font-size: rem(18);
    line-height: inherit;
  }

  & + & {
    margin-top: rem(30);
  }

  .sec-invert & {
    color: $textColorContrast;
  }
}

.list {
  &__row {
    font-weight: 500;
    font-size: rem(24);
    line-height: 1;

    @media screen and (max-width: 1440px) {
      font-size: rem(18);
      line-height: inherit;
    }

    & + & {
      margin-top: rem(30);
    }

    &::before {
      display: inline-block;
      content: "";
      width: rem(6);
      height: rem(6);
      margin-right: rem(15);
      background-color: $bgColorContrast;
      position: relative;
      top: rem(-5);
    }

    .sec-invert & {
      color: $textColorContrast;
    }
  }
}

.map {
  
  &__picture {
    display: block;
    margin-bottom: rem(30);
  }

  &__text {
    font-size: rem(18);
    line-height: 1;
    color: $textColor;

    @media screen and (max-width: 1440px) {
      font-size: rem(16);
    }

    & + & {
      margin-top: rem(24);
    }
  }

  &__tel {
    color: inherit;
  }
}
